@import url('https://fonts.googleapis.com/css?family=Athiti:500');
.distance{
  padding: 50px 0px 0px 0px;
}
h1{
  font-size: 40px;
}
h2.text{
  font-size: 28px;  
  width: 960px;
	margin: 0 auto;
  padding: 50px 0px 0px 0px;
  text-align: center;
}
h2.blue{
  font-size: 34px;
  color: #264480;
  margin-bottom: 30px;
}
h3{
  font-size: 26px;
  text-align: center;
}
h4{
	font-size: 24px;
}
.photo{
  width: 373px; 
  height: 650px; 
  float: right; 
  margin: 0px 0px 0px 50px;
}
.first-row {
  width: 160px;
  height: 161px;
  padding-right: 50px;
}
.second-row {
  width: 450px;
  padding-right: 50px;
}
.third-row{
  width: 450px;
  padding-right: 50px;
}
td {
  padding-bottom: 50px;
  margin: 0;
  padding: 0.375em 0.5em;
}
.img_photos{
  width: 960px; 
  height: 40px; 
}
.img_pho{
  width: 135px; 
  height: 134px;
}
.font_below{
  font-size: 0.923em; /*em เป็น relative ที่จะขึ้นอยู่กับ parent element*/
  line-height: 1.538em; /*ระยะห่างระหว่างแนวตั้ง */
}
.first-center {
  width: 200px;
  height: 100px;
  text-align: center;
  vertical-align: top;

}
.table{
  margin: auto;
}