.body-before div:nth-of-type(2) {
  margin-top: 20px;
}
.floating-box {
  padding: 10px;
  float: left;
  width: 440px;
  height: 210px;
  background-image: url("/Users/thitaya/eiei/border.png ")no-repeat left bottom;
  box-shadow: 1px 1px 2px 1px #efefef;
}
.mg-left{
  display: flex;
  width: 1000px;
  
}
.footer-img{
  width: auto;
  height: 300px;
  background-image: url("/Users/thitaya/Desktop/student/footer-pattern2.png");
  background-size: cover;
  padding-bottom: 150px;
}
.mg-leftbox{
  margin: 20px 10px 15px;
}
.mg-leftdiv{
  margin-left: 30px;
}
.box-one{
  height: 450px;
  width: 1000px;
}
.font-size{
  font-size: 30px;
}
.padding-box{
  padding: 30px;
}
.mg-box{
  margin-left: 100px;

}
.background-color-box{
  background-color: #e4f5fd;

}
.img-one{
  background-image: url("/Users/thitaya/Desktop/web/A1.jpeg");
  border-radius: 50%;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.img-two{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/A2.png");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.img-three{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/A3.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.img-four{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/A4.jpeg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
} 
.img-oneb1{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/b1.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.img-oneb2{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/b2.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.img-oneb3{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/b3.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.img-oneb4{
  background-image: url("/Users/thitaya/Desktop/Project-one/img/b4.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.mg-top{
  margin-top: 50px;

}
.mg-box img{
  margin-left: -110px;
  width: 460px;
  margin-top: 0px;
}

.cloud-img img{
  width: 1200px;
  margin-top: 135px;
  margin-left: -1115px;
  position: absolute;
  z-index: -1;
}
.student-img img {
  width: 960px;
}
a{
    color: #284583;
    
}
.student section{
  margin-top: 100px;


}
.font-color{
  color: #264480;
}
.mg-tophome{
  margin-top: 100px;
  margin-left: 160px;
}
.font-colorblack{
  color: #333;

}

p{
  color: black;
}
.mg-leftdiv p {
  margin: 5px 0px;
}
.mg-fontleft{
  margin-left: 300px;
  margin-top: 0px;
}
.font-colorfont{
  color: #999;
}
.font-sizee{
  font-size: 20px;
}
 .mgright-font{
  margin-top: 10px;
  margin-left: 850px;
}
.margin-topbox{
  margin-top: 100px;
}

